.factsheets{
  
  .card.profile h3.card-header {
      background-color: transparent;
      color: #000000;
  }
  
  .card.profile a.card-header:hover {
      opacity: 0.8;
      cursor:pointer;
  }  
  
  .card.profile {
      max-width: 198px;
      min-width: 198px;
      margin-bottom: 60px;
  }
  
   .contact_form_button {
      background: #5f963d;
      padding: 10px;
      color: #ffffff;
    }
    
    .contact_form_button:hover {
      opacity: 0.8;
      cursor:pointer;
    }    
    
}
