.factsheets{

  .card.profile h3.card-header {
      background-color: transparent;
      color: #000000;
  }

  .card.profile a.card-header:hover {
      opacity: 0.8;
      cursor:pointer;
  }

  .card.profile {
      max-width: 198px;
      min-width: 198px;
      margin-bottom: 60px;
  }

   .contact_form_button {
      background: #5f963d;
      padding: 10px;
      color: #ffffff;
    }

    .contact_form_button:hover {
      opacity: 0.8;
      cursor:pointer;
    }

    .contact_us_container{
        background: url('https://maiaportal.eu/storage/app/media/contact us.png') top left;
        background-size: cover;
        color: #ffffff!important;
        height: 261px;
        text-align: center;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        width: 55.7%;
    }

    .contact_us_container p{
        color: #ffffff!important;
        padding: 50px 0;
    }

    .contact_us_container a{
        background: #5f963d;
        color: #fff;
        padding: 15px 50px;
    }

    .contact_us_container a:hover{
        background: #70a259;
    }

    .archive_container{
        background: #8999B4;
        color: white;
        padding: 40px 30px 0 30px;
        text-align: center!important;
        span{
            font-size: 1.2em!important;
            line-height: 1.5em!important;
            margin-bottom: 30px;
        }
        a{
            background: #5f963d!important;
            bottom: 20px;
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    .card-profile a:hover{
        opacity: 0.7;
    }

}
